In [13]:
%reload_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://aviacao1:aviacao1@postgres/aviacao1

Connecting and switching to connection 'postgresql+psycopg://aviacao1:***@postgres/aviacao1'

In [14]:
%%sql
DROP TABLE IF EXISTS aeroporto CASCADE;
DROP TABLE IF EXISTS aviao CASCADE;
DROP TABLE IF EXISTS assento CASCADE;
DROP TABLE IF EXISTS voo CASCADE;
DROP TABLE IF EXISTS venda CASCADE;
DROP TABLE IF EXISTS bilhete CASCADE;

CREATE TABLE aeroporto(
    codigo CHAR(3) PRIMARY KEY CHECK (codigo ~ '^[A-Z]{3}$'),
    nome VARCHAR(80) NOT NULL,
    cidade VARCHAR(255) NOT NULL,
    pais VARCHAR(255) NOT NULL,
    UNIQUE (nome, cidade)
);

CREATE TABLE aviao(
    no_serie VARCHAR(80) PRIMARY KEY,
    modelo VARCHAR(80) NOT NULL
);

CREATE TABLE assento (
    lugar VARCHAR(3) CHECK (lugar ~ '^[0-9]{1,2}[A-Z]$'),
    no_serie VARCHAR(80) REFERENCES aviao,
    prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
    PRIMARY KEY (lugar, no_serie)
);

CREATE TABLE voo (
    id SERIAL PRIMARY KEY,
    no_serie VARCHAR(80) REFERENCES aviao,
    hora_partida TIMESTAMP,
    hora_chegada TIMESTAMP, 
    partida CHAR(3) REFERENCES aeroporto(codigo),
    chegada CHAR(3) REFERENCES aeroporto(codigo),
    UNIQUE (no_serie, hora_partida),
    UNIQUE (no_serie, hora_chegada),
    UNIQUE (hora_partida, partida, chegada),
    UNIQUE (hora_chegada, partida, chegada),
    CHECK (partida!=chegada),
    CHECK (hora_partida<=hora_chegada)
);

CREATE TABLE venda (
    codigo_reserva SERIAL PRIMARY KEY,
    nif_cliente CHAR(9) NOT NULL,
    balcao CHAR(3) REFERENCES aeroporto(codigo),
    hora TIMESTAMP
);

CREATE TABLE bilhete (
    id SERIAL PRIMARY KEY,
    voo_id INTEGER REFERENCES voo,
    codigo_reserva INTEGER REFERENCES venda,
    nome_passegeiro VARCHAR(80),
    preco NUMERIC(7,2) NOT NULL,
    prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
    lugar VARCHAR(3),
    no_serie VARCHAR(80),
    UNIQUE (voo_id, codigo_reserva, nome_passegeiro),
    FOREIGN KEY (lugar, no_serie) REFERENCES assento
);

++
||
++
++

In [21]:
%%sql
-- (RI-1)
CREATE OR REPLACE FUNCTION verificar_checkin_bilhete() RETURNS TRIGGER AS $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM assento a
        WHERE a.no_serie = NEW.no_serie
          AND a.prim_classe = NEW.prim_classe
    ) THEN
        RAISE EXCEPTION 'Assento não encontrado ou classe do bilhete não corresponde à classe do assento.';
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM voo v
        WHERE v.id = NEW.voo_id AND v.no_serie = NEW.no_serie
    ) THEN
        RAISE EXCEPTION 'Avião do assento não corresponde ao avião do voo.';
    END IF;

    IF NEW.lugar IS NOT NULL THEN
            IF NOT EXISTS (
                SELECT 1 FROM assento a
                WHERE a.no_serie = NEW.no_serie
                  AND a.prim_classe = NEW.prim_classe
                  AND a.lugar = NEW.lugar
            ) THEN
                RAISE EXCEPTION 'Lugar indicado não existe no avião com a classe especificada.';
            END IF;
        END IF;
    
        RETURN NEW;
    END;
    $$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER checkin_bilhete_trigger BEFORE INSERT OR UPDATE ON bilhete
    FOR EACH ROW EXECUTE FUNCTION verificar_checkin_bilhete();

++
||
++
++

In [22]:
%%sql

CREATE OR REPLACE FUNCTION verificar_capacidade_bilhete() RETURNS TRIGGER AS $$
DECLARE
    total_assentos_prim_classe INT;
    total_assentos_seg_classe INT;
    ocupados_prim_classe INT;
    ocupados_seg_classe INT;

BEGIN

    SELECT COUNT(*) INTO total_assentos_prim_classe
    FROM assento a
    JOIN voo v ON a.no_serie = v.no_serie
    WHERE v.id = NEW.voo_id
      AND a.prim_classe = TRUE;

    SELECT COUNT(*) INTO total_assentos_seg_classe
    FROM assento a
    JOIN voo v ON a.no_serie = v.no_serie
    WHERE v.id = NEW.voo_id
      AND a.prim_classe = FALSE;

    SELECT COUNT(*) INTO ocupados_prim_classe
    FROM bilhete b
    JOIN assento a ON b.lugar = a.lugar AND b.no_serie = a.no_serie
    WHERE b.voo_id = NEW.voo_id
      AND a.prim_classe = TRUE;

    SELECT COUNT(*) INTO ocupados_seg_classe
    FROM bilhete b
    JOIN assento a ON b.lugar = a.lugar AND b.no_serie = a.no_serie
    WHERE b.voo_id = NEW.voo_id
      AND a.prim_classe = FALSE;

    IF NEW.prim_classe THEN
        IF ocupados_prim_classe >= total_assentos_prim_classe THEN
            RAISE EXCEPTION 'Bilhetes de primeira classe esgotados para este voo.';
        END IF;
    ELSE
        IF ocupados_seg_classe >= total_assentos_seg_classe THEN
            RAISE EXCEPTION 'Bilhetes de segunda classe esgotados para este voo.';
        END IF;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER trigger_verificar_capacidade_bilhete BEFORE INSERT OR UPDATE ON bilhete
FOR EACH ROW EXECUTE FUNCTION verificar_capacidade_bilhete();

++
||
++
++

In [23]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION hora_venda() RETURNS TRIGGER AS $$
BEGIN
    IF EXISTS ( SELECT 1 FROM bilhete b JOIN voo v ON b.voo_id = v.id
          WHERE b.codigo_reserva = NEW.codigo_reserva
          AND NEW.hora >= v.hora_partida) THEN
        RAISE EXCEPTION 'A hora da venda tem de ser anterior à hora de partida de todos os voos para os quais foram comprados bilhetes nesta venda.';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER trigger_hora_venda BEFORE INSERT OR UPDATE ON venda
    FOR EACH ROW EXECUTE FUNCTION hora_venda();

++
||
++
++